.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}
.container{
  margin-top: 1.5%;
  height: 98.5%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(12,1fr);

  grid-template-areas:
  "two one one one one one"
  "two three three three three three"
  "two three three three three three"
  "two three three three three three"

  "two four four four four five"
  "two four four four four five"
  "two four four four four five"
  "two four four four four five"
  "two four four four four five"
  "two four four four four five"
  "two four four four four five"
  "two four four four four five"
  ;
  
}
.header{
  grid-area: one;
}
.side_bar{
  grid-area: two;

}
.stats{
  grid-area: three;

}
.content{
  grid-area: four;

}
.right_bar{
  grid-area: five;

}
.highlight{
  color: #CFEF66;
  font-weight: bolder;

}
