body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('https://media.istockphoto.com/photos/stone-black-texture-background-dark-cement-wall-picture-id1396978251?k=20&m=1396978251&s=612x612&w=0&h=JVZgZIW1Ma5R1pqWz2ej54zSLjP5QPqwY3KyNPk0KUs=');
  background-color: rgba(27, 25, 25, 0.877);
  color: white;
  /* background-color: #FFFEFE;
  color: #141415; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
