.cart-container{
    display: flex;
    flex-direction: column;
}
/* cartProduct */

.contents{
    display: flex;
    height: 200px;
    width: 80%;
    gap: 8rem;
    align-items: center;
    padding: 1rem;
    border-bottom: solid #CFEF66;
}.imgs{
    height: 160px;
    border-radius: 10px;
}
.detail{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

 }
.button{
    display: flex;
    gap: 2.5rem;
}
.cart-item{
    display: flex;
    flex-direction: column;
} 

/* .item{
    display: flex;
    flex-direction: column;
} */
.order{
    display: flex;
    justify-content: space-between;
}