.cart-container{
    display: flex;
    border: solid red;
    flex-direction: column;
}
.contents{
    display: flex;
    height: 200px;
    gap: 20rem;
    align-items: center;
    padding: 1rem;
border: solid red;

}.imgs{
    height: 160px;
    border-radius: 10px;
}
.cart-item{
    display: flex;
    /* flex-direction: column; */
} 
.detail{
display: flex;
gap: 10rem;
}
.button{
height: 1rem;
display: flex;
gap: 4rem;
}
.item{
    display: flex;
    flex-direction: column;
}
.order{
    display: flex;
    justify-content: space-between;
}