*{
    background-color: black;
    color: white;
}
.detail{
    align-items: center;
}
.product{
    display: flex;
    padding: 4rem;
    gap: 3rem;
    /* box-shadow: 2px 2px 4px 4px white; */
    height: 60%;
    width: 60%;
}
.productImage img{ 
 border-radius: 10px;
}
.productImage{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.detail{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: large;
}
h1{
    color: rgb(204, 174, 96);
}
.desc-buttons{
    display: flex;
}.desc-details{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.button-1{
    border: 1px solid  rgb(214, 183, 104) ;
    width:15rem;
    border-bottom: none;
    height: 2rem;
}.button-2{
    border: 1px solid  rgb(214, 183, 104) ;
    width:15rem;
    height: 2rem;
    border-top: none;
}
.add-buttons button{
    background-color:rgb(214, 183, 104) ;
    border-radius:5px;
    width: 15rem;
    border: none;
    height: 2rem;
}
 