.products{
    display: flex;
    flex-wrap: wrap;
    border: solid black;
    gap: 2rem;
}
.image img{
    width: fit-content;
    height: 300px;
    border-radius: 5px;
}
.product-card{
    padding: 1rem;
    background-color:black;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    border-radius:5px;
    box-shadow: 0px 2px 2px white;
}
.product-card:hover{
    border-left: solid white;
    box-shadow: 2px 4px 6px grey;
}.content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.add-button{
    width: 50%;
    background-color: white;
    color: black;
    border-radius: 10px;
}