.Nav{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
}
.nav-top{
    display: flex;
    justify-content: space-between;
    gap:10px;
}.logo h2{
    font-size: 64px;
    font-style: italic;
    font-weight:64px;
}
.search-bar{
    display: flex
}
.search-bar  input{
    height: 2.6rem;
    width: 30rem;
    background-color: white;
}.Categories{
    width: 10rem;
    height: 3rem;
    border-collapse: collapse;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}.search-icon{
    width: 2rem;
    height: 3rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.side-menu{
    background-color: blue;
    width: 10rem;
    height: 3rem;
    color: white;
    border-radius: 5px;
}
.nav-icons{
    display: flex;
    gap: 1.5rem;

}
.nav-bottom{
    display: flex;
    gap: 20rem;
    align-items: center;
    padding:2rem;
    padding-bottom: 0px;
}
.nav-bottom ul{
    display: flex;
    gap: 3rem;
    list-style: none;
}
.nav-bottom ul li:hover{
    border-bottom: solid white;
}
