.stats{
    display: flex;
    margin: 1%;
    border-radius: 10px;
    background-color: rgba(32, 30, 30, 0.973);


}
.stat_one, .stat_two {
    width: 50%;
    padding: 0%;


}
.stat_one{
    border-right: 0.1px solid wheat;

}
.stat_two{
    border-left: 0.1px solid wheat;
    /* background-color: aqua; */

}

 .stat_one:hover{
    cursor: pointer;
    background-color: #CFEF66;
    color: #000;
}
.stat_two:hover{
    cursor: pointer;
    color: #000;

    background-color: #CFEF66;
}