.stats{
    display: flex;
    gap: 2px;
    margin: 1%;
    border-radius: 10px;


}
.stat_one, .stat_two {
    width: 50%;
    padding: 0%;
    background-color: rgba(32, 30, 30, 0.973);




}
.stat_one{
    border-radius: 10px 0 0 10px;

}
.stat_two{
    border-radius: 0 10px 10px 0;


 } 


 .stat_one:hover{
    cursor: pointer;
    background-color: #CFEF66;
    color: #000;
}
.stat_two:hover{
    cursor: pointer;
    color: #000;

    background-color: #CFEF66;
}